.discordColor1 {
  background-color: #23272A !important;
}

.discordColor2 {
  background-color: #2C2F33 !important;
}

.discordColor3 {
  background-color: rgba(44, 47, 51, 0.93)
}

.discordColor3-t {
  color: #99AAB5  !important;
}

.form-h {
  height: 1.5rem;
}

.header-h {
  height: 1.5rem;
}

.serverIcon {
  width: 4rem;
}

.friendIcon {
  width: 2.5rem;
}

.sideBar-w {
  width: 1rem;
}

.profileBar {
  position:absolute;
  bottom:0;
}

.searchHeight {
  height: 50px;
}

.searchHeight2 {
  height: 100px;
}

.divider {
  border-right: 1px dashed #FFFF;
}

.modalBorder {
  border-color: rgba(44, 47, 51, 0.93)
}

.searchbar-w {
  width: 2rem;
}

.friend-h {
  height: 4rem;
}

.messageWindow {
  overflow-y: auto;
}

.fontSize {
  font-size: 1.5rem;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.modal-content {
  border: 0 none;
}

.fullH {
  height: 100%;
}

html,body, #root, .App {
  height: calc(100% - 10px);
  bottom: 0;
}


